{% extends 'base.html.twig' %}

{% block body %}
    <div class="centered-content">
        <h1>{{ 'welcome_message'|trans }}</h1>
        <p>{{ 'comment'|trans }}</p>
        <p>{{ 'front'|trans }}</p>

        <a href="{{ path('product_index') }}" class="btn btn-primary">{{ 'product_view_button'|trans }}</a>
    </div>
{% endblock %}
